@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* .sapUiSizeCompact .sapMPageWithHeader>section {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* body {
    cursor: url('../images/icons8-charmander-100.png'), auto; 
} */
.dialogTitle {
    text-align: center;
    font-weight: bold;
    width: 100%; 
}

#shell-header {display: none !important;}
.sapMBarPH.sapMBarContainer {
    background: #71757100 url(../images/container_bg.png);
}

.customText {
    padding: 20px; 
    text-align: center; 
}
.sapMIBar.sapMHeader-CTX {
    /* background-color: #426f60b8 !important; */
    background-color: #667570b8 !important;
}
.sapUiSizeCompact .sapMBarLeft {
    padding: 0 !important;
}
.sapUiSizeCompact .sapMPageHeader .sapMIBar .sapMBarLeft {
    height: 3.1rem !important;
}
.sapMBar .sapMBarLeft.sapMBarContainer>*:first-child:last-child {
    height: 3.1rem !important;
    background: #313131 !important;
}
.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)>.sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnBack .sapUiIcon {
    color: aliceblue !important;
}
.sapMBtn:hover>.sapMBtnBack.sapMBtnHoverable {
    background-color: transparent !important;
}
.sapMBarTitleAlignAuto .sapMBarPH {
    backdrop-filter: blur(10px);
    justify-content: center !important;
}
.sapMTitleStyleAuto {
    color: #313131 !important;
    font-family: 'Pokemon Solid', sans-serif !important;
    font-size: 23px;
    height: -webkit-fill-available;
}
.sapUiSizeCompact .sapMPageHeader .sapMIBar .sapMBarPH {
    height: 3.1rem !important;
}
.pokemon-grid {
    display: grid;
    gap: 10px;
}

@media screen and (min-width: 1024px) {
    .pokemonBoard{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .pokemonBoard {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .pokemonBoard {
        grid-template-columns: repeat(2, 1fr);
    }
}
.matched {
    opacity: 0.8; 
    pointer-events: none;
}
.paused {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; 
}
.pokemon-timer {
    background-color: aqua;
    width: 200px;
    border-radius: 10px;
}
.pokemonBoard {
    padding: 0 0 20px;
    display: grid;
    gap: 1.2rem;
    margin: auto;
    /* width: 60%; */
    width: 100%;
}

.lmsMainPage .sapMPageEnableScrolling::after {
    background: url(../images/background-1.jpeg) center/cover !important;
    background-repeat: no-repeat !important;
    content: "";
    /* opacity: .6!important; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    z-index: -1;
    background-size: cover !important;
    background-position: center !important;
    height: 100% !important;
    width: 100% !important;
}
.lmsMainPageDetail .sapMPageEnableScrolling::after {
    background: url(../images/background-1.jpeg) center/cover !important;
    background-repeat: no-repeat !important;
    content: "";
    /* opacity: .7!important; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    z-index: -1;
    background-size: cover !important;
    background-position: center !important;
    height: 100% !important;
    width: 100% !important;
}
