@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.customDifficultySelect {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto 0;
    justify-content: center;
}

.difficultyButton {
    /* background: url(../images/container_bg.png) center/cover !important; */
    font-family: 'Pokemon Solid', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #ffffff;
    border-radius: 10px;
    /* padding: 5px; */
    font-size: 20px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: 1px solid #b4b4b4bc;
    padding-bottom: 6px;
}

.difficultyButton.selected {
    border: 2px solid #ffffffbc; 
}

.difficultyButton:hover {
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.difficultyButton:active {
    transform: scale(0.95);
}

.difficultyHeader{
    font-family: 'Pokemon Solid', sans-serif;
    color:#ffffff;
    font-size: 14px;
    text-align: center;
    /* margin-bottom: 10px; */
    font-style: italic;
}

.difficultyIcon {
    color: rgb(187, 210, 187);
    margin-left: 5px; 
    vertical-align: middle; 
}