.buttonContainer {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.customStartButton {
    font-family: "Roboto Mono", serif;
    display: flex !important;
    justify-content: center;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    margin: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.customStartButton:hover{
    transform: translateY(-1px);
}

.customIcon{
    margin-right: 5px;
}
